HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
/microservices-springboot/learn-microservices-w-spring-boot-master
/microservices-springboot/learn-microservices-w-spring-boot-master.zip
/microservices-springboot/others

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

*.class