<!DOCTYPE html>
<html>
<head>
    <title>Multiplication v1</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.16.6"></script>
    <script src="./vuex.js"></script>
    <!-- <script type="module">
            import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js'
          </script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome Abiam Social Multiplication</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Your new challenge is</h3>
            <h1 class="text-center">
                <span class="multiplication-a">{{ numbers.multA }}</span>x<span class="multiplication-b">{{  numbers.multB }}</span> =
            </h1>
            <p>
            <form id="attempt-form">
                <div class="form-group">
                    <label for="result-attempt">Result?</label>
                    <input v-model="user.result" type="text" name="result-attempt" class="form-control">
                </div>
                <div class="form-group">
                    <label for="user-alias">Your alias:</label>
                    <input v-model="user.alias" type="text" name="user-alias" class="form-control">
                </div>
                <input class="btn btn-default" v-on:click="search" type="submit" value="Check">
            </form>
            </p>
            <div class="result-message">{{ hasResultView }}</div>

            <div id="stats-div" style="display: none;">
                <h2>Your statistics</h2>
                <table id="stats" class="table">
                    <tbody>
                    <tr>
                        <td class="info">User ID:</td>
                        <td id="stats-user-id"></td>
                    </tr>
                    <tr>
                        <td class="info">Score:</td>
                        <td id="stats-score"></td>
                    </tr>
                    <tr>
                        <td class="info">Badges:</td>
                        <td id="stats-badges"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <h3>Leaderboard</h3>
            <table id="leaderboard" class="table">
                <tr>
                    <th>User ID</th>
                    <th>Score</th>
                </tr>
                <tbody id="leaderboard-body" v-for="data in leaderBoardData">
                    <tr>
                        <td>{{ data.userId }}</td>
                        <td>{{ data.totalScore }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button id="refresh-leaderboard" class="btn btn-default" type="submit">Refresh</button>
            </div>

            <div v-if="hasLatestAttempt" id="results-div">
                <h2>Your latest attempts</h2>
                <table id="results" class="table">
                    <tr>
                        <th>Attempt ID</th>
                        <th>Multiplication</th>
                        <th>You entered</th>
                        <th>Correct?</th>
                    </tr>
                    <tbody id="stats-body" v-for="data in gridData">
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.multiplication.factorA }} x {{ data.multiplication.factorB }}</td>
                            <td>{{ data.resultAttempt }}</td>
                            <td>{{  data.correct }}</td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button v-on:click="allUsersSelected" class="btn btn-default">See All Users</button>
            <!-- <label>All Users</label> -->
            <div v-if="isAllUsersSelected" class="row">
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
//   const store = new Vuex.Store({
//     state: {
//         count: 0
//     },
//     mutations: {
//         increment (state) {
//             state.count++
//         }
//     }
//     })
    const app = new Vue({
            el: "#app",
            //store,
            data: {
                user: {
                    result: null,
                    alias: null,
                    id:null
                },
                numbers: {
                    multA: null,
                    multB: null
                },
                gridData: [],
                erros: [],
                leaderBoardData: [],
                allUsers: [],
                hasResultView: null, 
                hasLatestAttempt: false,
                isAllUsersSelected: false
            },
            created() {
               this.callFactor()
               //this.$store.dispatch('increment')
            },
            methods: {
                search: function(e) {
                    e.preventDefault()
                    this.checkAnswer()
                },
                callFactor: function() {
                    axios
                    .get("http://localhost:8080/multiplications/random")
                    .then(response => {
                        this.numbers.multA = response.data.factorA;
                        this.numbers.multB = response.data.factorB;
                    })
                },
                checkAnswer: function() {
                    const data = { user: { alias: this.user.alias}, multiplication: {factorA: this.numbers.multA, factorB: this.numbers.multB}, resultAttempt: this.user.result};
                    axios
                    .post("http://localhost:8080/results", JSON.stringify(data), { headers: { "Content-type": "application/json; charset=utf-8" } })
                    .then(response => {
                        if (response.data.correct) {
                            this.hasResultView = "The result is correct! Congratulations!"
                        } else {
                            this.hasResultView = "Ooops that's not correct! But keep trying!"
                        }
                    })
                    .then(() => {
                        this.updateStats()
                    })
                },
                updateStats: function() {
                    axios
                    .get("http://localhost:8080/results?alias=" + this.user.alias)
                    .then(response => {
                        this.gridData = response.data
                        this.hasLatestAttempt = true;
                        this.user.id = response.data[0].user.id
                        this.resetValues()
                        this.callFactor()
                    })
                    .then(()=>{
                        setTimeout( () => {
                            this.updateUserInfoStats(this.user.id);
                            this.updateLeaderBoard();
                        }, 300);
                    })
                },
                resetValues: function() {
                    this.user.result = null
                    this.user.alias = null
                },
                updateLeaderBoard: function() {
                    axios
                    .get("http://localhost:8081/leaders")
                    .then(response => {
                        this.leaderBoardData = response.data;
                    })
                },
                updateUserInfoStats: function(id) {
    //                 $.ajax({
    //     url: "http://localhost:8081/stats?userId=" + userId,
    //     success: function(data) {
    //         $('#stats-div').show();
    //         $('#stats-user-id').empty().append(userId);
    //         $('#stats-score').empty().append(data.score);
    //         $('#stats-badges').empty().append(data.badges.join());
    //     },
    //     error: function(data) {
    //         $('#stats-div').show();
    //         $('#stats-user-id').empty().append(userId);
    //         $('#stats-score').empty().append(0);
    //         $('#stats-badges').empty();
    //     }
    // });
                },
                allUsersSelected: function(){
                    console.log('all users func and button selected ')
                    // axios
                    // .get("http://localhost:8080/results/all)
                    // .then(response => {

                    // })
                    const obj = [
                        { userId: 1, alias: "abiam"},
                        { userId: 2, alias: "nick"},
                        { userId: 3, alias: "rick"}
                    ]
                    this.allUsers = obj;
                    //return this.allUsers
                }
            }
        })
        </script>
</body>
</html>